<div class="index-total">
  <div class="jumbotron center about-custom">
    <p><strong>GameTable</strong> is a table top gaming platform that lets you play classic board games. Generate a new game and invite your friends to play!</p>

    <p>Built with ♥ by 
        <a href="https://twitter.com/j_scag_" target="_blank">@j_scag_</a>,
        <a href="https://twitter.com/jamesjtong" target="_blank">@jamesjtong</a>,
        <a href="https://twitter.com/ivanbrennan" target="_blank">@ivanbrennan</a>,
        <a href="https://twitter.com/richardsonjm" target="_blank">@richardsonjm</a>, and 
        <a href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a> at the <a target="_blank" href="http://flatironschool.com/">Flatiron School</a>.
    </p>
  </div>

  <footer class="footer-about" role="contentinfo">
    <div class="container">
      
      <ul class="nav navbar-nav navbar-right footer-links">
        <li><a href="/">Home</a> </li>
        <li><a href="/about">About</a></li>
      </ul>

    </div>
  </footer>
</div>