<div class="index-total">

  <div class="games ongoing">
    <h2>Ongoing games</h2>
    <ul>
      <% @games.each do |game| %>
        <li><%= link_to game.name, game_path(game.secure_room_code) %></li><br>
      <% end %>
    </ul>
  </div>=


  <div class="games from_template">
    <h2>Start a new game</h2>
      <%= link_to "Play Checkers", checkers_path, class: "btn btn-success btn-lg" %>
      <br>
      <%= link_to "Play Chess", chess_path, class: "btn btn-success btn-lg" %>
      <br>
      <%= link_to "Play Backgammon", backgammon_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<footer class="footer" role="contentinfo">
    <div class="nav navbar-nav twitter">
      <span>Built with ♥ by 
        <a href="https://twitter.com/j_scag_" target="_blank">@j_scag_</a>,
        <a href="https://twitter.com/jamesjtong" target="_blank">@jamesjtong</a>,
        <a href="https://twitter.com/ivanbrennan" target="_blank">@ivanbrennan</a>,
        <a href="https://twitter.com/richardsonjm" target="_blank">@richardsonjm</a>, and 
        <a href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a>.
      </span>
    </div>
    
    <ul class="nav navbar-nav navbar-right footer-links">
      <li><a href="/about">About</a></li>
      <li><a href="/">Home</a> </li>
    </ul>

  </div>
</footer>
