<div class="index-total">

<!--   <div class="games ongoing">
    <h2>Ongoing games</h2>
    <ul>
      <%# @games.each do |game| %>
        <li><%#= link_to game.name, game_path(game.secure_room_code) %></li><br>
      <%# end %>
    </ul>
  </div> -->

<div class="eternity-form">
  <div class="forgot-password-section animated fadeInDown">
    <div class="section-title"><h1>GameTable</h1></div>
      <div class="forgot-content">
        <form>
        <div class="textbox-wrap">
          <div class="input-group input-group-lg col-lg-12">
            <p class="about-p"><strong>GameTable</strong> is a table top gaming platform that lets you play classic board games. Generate a new game and invite your friends to play!</p>
          </div>
        </div>
        <div class="forgot-form-action clearfix">
          <div class="input-group input-group-lg">
            <%= link_to "Checkers", checkers_path, class: "btn btn-success btn-lg" %><br>
            <%= link_to "Chess", chess_path, class: "btn btn-success btn-lg" %><br>
            <%= link_to "Backgammon", backgammon_path, class: "btn btn-success btn-lg" %>
            <%= link_to "Chinese Checkers", chinese_checkers_path, class: "btn btn-success btn-lg" %>
          </div>
        </div>
      </form>
      </div>
  </div>
</div>

<footer class="footer" role="contentinfo">
    <div class="nav navbar-nav twitter">
      <span class="footer-text">Built with ♥ by 
        <a href="https://twitter.com/j_scag_" target="_blank">@j_scag_</a>,
        <a href="https://twitter.com/jamesjtong" target="_blank">@jamesjtong</a>,
        <a href="https://twitter.com/ivanbrennan" target="_blank">@ivanbrennan</a>,
        <a href="https://twitter.com/richardsonjm" target="_blank">@richardsonjm</a>, and 
        <a href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a>.
      </span>
    </div>
    
    <ul class="nav navbar-nav navbar-right footer-links">
      <li><a href="/">Home</a> </li>
      <li><a href="/about">About</a></li>
    </ul>
</footer>
</div>
