/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require animate.min
 *= require font-awesome.min
 *= require forms
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

 /*font*/
 @font-face {
 font-family: 'Glyphicons Halflings';
 src: asset-url('glyphicons-halflings-regular.eot');
 src: asset-url('glyphicons-halflings-regular.eot') format('embedded-opentype'), 
      asset-url('glyphicons-halflings-regular.woff') format('woff'), 
      asset-url('glyphicons-halflings-regular.ttf') format('truetype'), 
      asset-url('glyphicons-halflings-regular.svg') format('svg');
}

/*alert bar styling*/
.alert-whatevs-im-tired {
  position: absolute;
  top: 0;
  z-index:99;
  width: 100%;
  text-align: center;
}

 /*index page customization*/
.index-total {
  height: 100%;
  width: auto;
  background: url("chinese_checkers_bg.jpg") no-repeat center center fixed #000; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.forgot-password-section {
  border-radius: 4px;
}

.about-p {
  padding-top: 10px;
}

.input-group {
  text-align: center;
}

.input-group a {
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  border-radius: 4px;
  text-align: center;
}

.section-title {
  background-color: rgba(245, 245, 245, 1) !important;
  border-radius: 5px;
  margin-bottom: -15px;
  padding-top: 20px;
}

.section-title h1 {
  width: 100%;
  text-align: center;
}

.forgot-content {
  background-color: rgba(245, 245, 245, 1) !important;
  border-radius: 4px !important;
}

/*loading page before table top shows*/
.loading-box {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: grey;
  text-align: center;
  vertical-align: middle;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.main-area {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.menu {
  position: fixed;
  left: 10px;
  top: 10px;
}

.tabletop {
  width: auto;
  height: 100%;
  margin-right: 250px;
  background: green url('green_felt.jpg') center;
  text-align: center;
  position: relative;
  overflow: scroll;
  /*vertical-align: middle;*/
  /*display: table-cell;*/
}

.board {
  margin: 0 auto;
  position: relative;
}

.truecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
}

.tabletop img {
  vertical-align: bottom;
}

.token {
  height: 60px;
  width: 60px;
  overflow: hidden;
}

/*chat styling*/

.menu a {
  width: 100%;
  margin-bottom: 15px;
}

.chat {
  float: right;
  position: relative;
  width: 250px;
  height: 100%;
  /*background-color: rgba(245, 245, 245, 0.8);*/
  background: grey url('wood-texture.jpg') center;
  border: solid black 1px; /*for now*/
}

.chat h2 {
  text-align: center;
  color: white;
}

#chat li {
  /*color: #8F9E9F;*/
}

.message-input {
  width: 250px;
  height: 170px;
  /*border: solid black 1px;*/
  text-align: center;
  position: absolute;
  bottom: 0;
}

.messages-box {
  margin: 18px 18px 100px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  overflow: auto;
  height: 65%;
}

.messages-box-backgammon {
  margin: 18px 18px 100px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  overflow: auto;
  height: 57%;
}
/*messages-box resizing depending on size of screen*/
@media screen and (max-height: 400px) {
    .messages-box { height: 40%; }   
}

@media screen and (max-height: 240px) {
    .messages-box { height: 20%; } 
}

@media screen and (max-height: 400px) {
    .messages-box { height: 40%; }   
}

textarea {
  resize: none;
  border-radius: 4px;
  border-style: none;
}

.new_message input {
  border-radius: 4px;
  border-style: none;
}

ul {
  list-style-type: none;
  margin-left: -30px;
}

.message-input input {
  width: 214px;
  margin: 3px 0 2px;
}

.message-input textarea {
  width: 214px;
  margin: 3px 0 2px;
}

.dice-roll {
  margin-bottom: 15px;
  text-align: center;
}

/*footer styling*/
.footer {
  position: absolute;
  bottom: 0;
  margin-top: -60px;
  height: 60px;
  clear: both;
  padding-top: 20px;
  background-color: rgba(245, 245, 245, 1);
  width: 100%;
}

.footer-text {
  color: #8F9E9F;
}

.twitter {
  margin-left: 10px;
}

a {
  color: #5CB85C;
}

a:hover {
  text-decoration: underline;
  color: #5CB85C;
}

.footer-links {
  position: relative;
  top: -15px;
}


/*about page styling*/
.jumbotron {
  border-radius: 5px !important;
  width: 500px;
}

.about-custom {
  background-color: rgba(245, 245, 245, 0.8);
  position: absolute;
  left: 30%;
  top: 20%;
}

.footer-about {
  position: absolute;
  bottom: 0;
  margin-top: -60px;
  height: 60px;
  clear: both;
  padding-top: 20px;
  background-color: rgba(245, 245, 245, 0.8);
  width: 100%;
}