/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin-left: -30px;
}

input {
  width: 210px;
}

textarea {
  resize: none;
}

.main-area {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.menu {
  position: fixed;
  left: 10px;
  top: 10px;
}

.tabletop {
  width: auto;
  height: 100%;
  margin-right: 250px;
  background: green url('green_felt.jpg') center;
  text-align: center;
  position: relative;
  overflow: scroll;
  /*vertical-align: middle;*/
  /*display: table-cell;*/
}

.board {
  margin: 0 auto;
  position: relative;
}

.truecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
}

.tabletop img {
  vertical-align: bottom;
}

.token {
  height: 60;
  width: 60;
}

.chat {
  float: right;
  position: relative;
  width: 250px;
  height: 100%;
  background: grey url('wood-texture.jpg') center;
  border: solid black 1px; /*for now*/
}

.message-input {
  width: 250px;
  height: 120px;
  border: solid black 1px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.messages-box {
  margin: 10px 10px 100px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow-y: scroll;
}